<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Features</title>
<link href='{% static "ass/css/styles.css" %}' rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
  <div class="header-left-panel">
    <div class="logo-wrap">
      <div class="logo">
        <h2>Automated Security Systems</h2>
        <h1>A.S.S.</h1>
      </div>
    </div>
  </div>
    <div class="menu">
      <ul>
        <li class="marRight20"><a href="/">home</a></li>
        <li class="marRight20"><a href="/about">about</a></li>
        <li><a href="/services">services</a></li>
        <li class="marRight20"><a href="/features" class="active">features</a></li>
        <li class="marRight20"><a href="#">blog</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </div>
  </div>
</div>
<!--- panel wrap div end -->
<div class="panel-wrap">
  <div class="page-wrapper">
    <div class="primary-content marRight30">
      <div class="mid-panel">
          <div class="mid-panel-content">
            <div class="title">
           <h1>Features</h1>
          </div>
          <div class="content marginTop"> <img src='{% static "ass/images/img-4.jpg" %}' width="200" height="200" class="marRight30"/>
            <h2>LIVE STREAM</h2><br/>
	        <p>As the name suggests,the operation of this type of digital camera doesn’t require constant human operator at the scene. The command is received, and image data is sent to the user via the internet. </p>
            <p>The live streaming of the video feature helps you to use or check your secure premises from anywhere globally.Mobile viewing with high quality streams is what we provide you with.</p>
            <p>IP cameras are both versatile and easy to access. This allows the user to do live IP camera streaming in a manner that is simpler and can work for any device that can be connected to the internet.</p>
          </div>
          <div class="clearing"></div>
          <div class="content marginTop"> <img src='{% static "ass/images/img-5.jpg" %}' width="200" height="200" class="marRight30"/>
            <h2>REKOGNIZER</h2><br/>
            <p>In this era of cruel business competition, it’s essential to keep your enterprise premises highly protected by investing in the right security technology. Good old method of hiring a security team is still working, but there are more modern ways that we recommend you pay attention to. One of the most promising is a face detection technology mixed with the existing practices that allows saving a budget while improving a security level.</p>
            <p>It’s the fastest biometric technology that has one and only purpose – to identify human faces. Forget about fingerprints readers and eye scanners, current face recognition systems analyze the characteristics of a person’s face images that were taken with a digital video camera. It’s the least intrusive method that provides no delays and leaves the subjects entirely unaware of the process.</p>
          </div>
          <div class="clearing"></div>
          <div class="content marginTop"> <img src='{% static "ass/images/img-6.jpg" %}' width="200" height="200" class="marRight30"/>
            <h2>VISITOR INFORMATION</h2><br/>
            <p>The information of the visitors is recorded and saved for further references so that one can know who has entered the premises,time records and the data related to them.This also includes the image of the person.
          </div>
          <div class="clearing"></div>
          <div class="content marginTop"> <img src='{% static "ass/images/img-8.jpg" %}' width="200" height="200" class="marRight30"/>
            <h2>DETCTOR</h2>
            <P>It accepts an image from which we need to know how many persons are there in that image and detects every person to provide a total number of persons recognized in the image.</p>
          </div>
          <div class="clearing"></div>
          <div class="content marginTop"> <img src='{% static "ass/images/img-7.jpg" %}' width="200" height="200" class="marRight30"/>
            <h2>SECURITY</h2>
             <P>Security recognizes the known and unknown faces and sends a detailed text file as an email to the user with timestamps of the recognized faces.</p></div>
          </div>
    </div>
  </div>
</div>
</body>
</html>
